/* WRAPPER */
.fmcg-wrapper {
  text-align: center;
  padding: 100px 0;
  font-family: "Inter", sans-serif;
}

/* TITLE */
.main-title {
  font-size: 30px;
  font-weight: 700;
  color: #5A7D19;
  margin-bottom: 6px;
}

.main-title,.underline-green{
  transform: translateY(-65px);
}

/* Default */
.single-card {
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* Card 1 movement */
.move-1 {
  transform: translateY(-25px);
}

/* Card 2 movement */
.move-2 {
  transform: translateY(35px);
}

/* Card 3 movement */
.move-3 {
  transform: translateY(-25px);
}

/* Card 4 movement */
.move-4 {
  transform: translateY(35px);
}



/* GREEN BRUSH LINE */
.underline-green {
  width: 330px;
  height: 16px;
  background: url("../../../Assets/Home/FMCG_Section/Greenline.png") no-repeat center;
  background-size: contain;
  margin: 0 auto 45px;
}

/* CARD GRID */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  flex-wrap: wrap;
}

/* IMAGE (clean version) */
.simple-card-img {
  width: 260px;
  /* height: 165px; */
  border-radius: 22px;
  object-fit: cover;
}

/* TEXT */
.card-text {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 650;
  color: #555;
}







/* -------------------- Responsive -------------------- */

@media (max-width: 1024px) {
  .main-title {
    font-size: 28px;
  }
  .cards-container {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 24px;
  }
  .underline-green {
    width: 260px;
  }
  .simple-card-img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 20px;
  }
  .underline-green {
    width: 200px;
  }
  .simple-card-img {
    width: 130px;
    height: 130px;
  }
  .card-text {
    font-size: 14px;
  }
}

/* -------------------- Tablet: 600px to 778px -------------------- */
@media (min-width: 600px) and (max-width: 778px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    gap: 40px;
    justify-items: center;
  }

  .simple-card-img {
    width: 200px;   /* slightly smaller for tablet */
  }

  .card-text {
    font-size: 18px;
  }
}
