.revolution-wrapper {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 40, 0, 0.82);
  z-index: 1;
}

.revolution-content {
  position: relative;
  z-index: 5;
  text-align: center;
  color: #fff;
  width: 80%;
  margin: auto;
}

/* TOP PILL */
.revolution-pill {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  background: #fff;
  color: #111;
  padding: 8px 18px;
  border-radius: 22px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.revolution-pill img {
  width: 16px;
  height: 16px;
}

/* TITLE */
.revolution-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 5px;
  color: #ffdf40;
}

/* BRUSH */
.revolution-underline {
  width: 180px;
  margin-bottom: 25px;
}

/* DESCRIPTION */
.revolution-desc {
  font-size: 16px;
  width: 80%;
  margin: 0 auto 35px;
  line-height: 1.6;
}

/* BUTTONS */
.revolution-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.btn-green {
  padding: 12px 28px;
  background: #1cb640;
  color: #fff;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-green:hover {
  background: #159a35;
}

.btn-outline {
  padding: 12px 28px;
  border-radius: 25px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-outline:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 1024px){
  .revolution-desc{
    width: 100%;
  }
}

@media (max-width:768px){
  .revolution-buttons{
    display: flex;
    flex-direction: column;
  }
}
