/* =======================================================
   FOOTER WRAPPER
======================================================= */
.footer {
  background: #ffffff;
  padding: 60px 80px 25px;
  border-top: 1px solid #e5e5e5;
  
}

/* MAIN AREA */
.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

/* LEFT BLOCK */
.footer-left {
  width: 35%;
}

.footer-logo {
  width: 160px;
  margin-bottom: 15px;
}

.footer-desc {
  color: #444;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer-company {
  font-size: 14px;
  color: #555;
}

/* SECTION HEADINGS */
.footer-products h3,
.footer-contact h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #000;
}

/* PRODUCTS LIST */
.footer-products ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.footer-products ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  font-size: 15px;
  color: #333;
}

.footer-products ul li img {
  width: 18px;
}

/* PRODUCT HOVER EFFECT */
.footer-products ul li {
  transition: 0.3s ease;
}

.footer-products ul li:hover {
  color: green;
  cursor: pointer;
}


.producer-link {
  color: #000;
  text-decoration: underline;
  font-size: 15px;
}

/* CONTACT */
.footer-contact p {
  margin: 8px 0;
  font-size: 15px;
  color: #333;
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  font-size: 14px;
  padding-top: 18px;
  color: #222;
}


/* =======================================================
   RESPONSIVE DESIGN
======================================================= */

/* TABLETS */
@media (max-width: 991px) {
  .footer {
    padding: 50px 50px 25px;
  }

  .footer-content {
    gap: 30px;
  }

  .footer-left {
    width: 45%;
  }

  .footer-products h3,
  .footer-contact h3 {
    font-size: 18px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .footer {
    padding: 50px 30px 25px;
  }

  .footer-content {
    flex-direction: column;
    gap: 35px;
    text-align: left;
  }

  .footer-left {
    width: 100%;
  }

  .footer-products ul li,
  .footer-contact p {
    font-size: 14px;
  }

  .footer-logo {
    width: 140px;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .footer {
    padding: 40px 20px 20px;
  }

  .footer-products h3,
  .footer-contact h3 {
    font-size: 17px;
  }

  .footer-desc {
    font-size: 14px;
  }

  .footer-products ul li {
    font-size: 14px;
  }

  .footer-bottom {
    font-size: 13px;
  }
}
